<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Entrar</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="fullscreen">
    <ion-item>
      <ion-img class="logo" src="src/app/imagens/logoFolhaPro.png" />
    </ion-item>
    <ion-item>
      <ion-input placeholder="Nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="CPF"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Senha"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block">Cadastar</ion-button>
</ion-content>
