.logo
{
    width: 70%;
    margin-left: 15%;
}
.login
{
    width: 30%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: azure;
    box-shadow: 0 30px 60px 0 gray;
}