<div class="login">
  <ion-list lines="">
    <ion-item>
      <ion-img class="logo" src="https://pbs.twimg.com/media/F559F0gX0AA6hXj?format=png&name=small" />
    </ion-item>
    <ion-item>
      <ion-input placeholder="Nome" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="CPF" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Senha" type="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block">Cadastar</ion-button>
</div>